<div class="text-3xl text-center"><strong>LIÊN HỆ</strong></div>
        <div><img src="/Asignment/img/lienhe.jpg"></div>
        <br>
        <div class="row mx-80 text-left">
            <div class="col-6 w-[400]">
                <div class="text-2xl"> <strong>Cơ sở đào tạo tại Hà Nội</strong></div>
                <div class="text-left ">
                    <p><strong>Địa chỉ: </strong>Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm, TP Hà Nội</p>
                    <br>
                    <strong class="underline">Liên hệ Văn phòng tuyển sinh:</strong>
                    <ul class="text-left ">
                        <li>Tư vấn 1: (024) 8582 0808</li>
                        <li>Tư vấn 2: (024) 6684 0713</li>
                        <li>Tư vấn 3: 0988 866 377 </li>
                        <li>Email : caodangfpt.hn@fpt.edu.vn</li>
                    </ul>
                    <br>
                    
                </div>
            </div>
            <div class="col-6">
                <div class="text-2xl"> <strong>Cơ sở đào tạo TP HCM</strong></div>
                <div class="text-left ">
                    <p> <strong>Địa chỉ: </strong>Cơ sở quận 12: Công viên phần mềm Quang Trung, phường Tân Chánh Hiệp, quận 12, TP Hồ Chí Minh</p>
                    <br>
                    <strong class="underline text-2xs">Liên hệ Văn phòng tuyển sinh:</strong>
                    <ul class="text-left ">
                        <li>Địa chỉ: Tòa nhà QTSC9 (toà T), đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TP HCM</li>
                        <li>Hotline: 090 166 0002 – 028 6686 6486 </li>
                        <li>Email: caodangfpt.hcm@fpt.edu.vn</li>
                    </ul>
                    <br>
                    

                </div>

            </div>
        </div>