<div>
    <h1>{{title}}</h1>
    <form ng-submit="add()">

        <label for="">ID</label>
        <input type="text" class="form-control" ng-model="quanao.ID">

        <label for="">ten</label>
        <input type="text" class="form-control" ng-model="quanao.ten">


        <label for="">Gia</label>
        <input type="text" class="form-control" ng-model="quanao.gia">


        <label for="">Loai</label>
        <input type="text" class="form-control" ng-model="quanao.loai">

        <div>
            <button>Lưu</button>
        </div>
    </form>

</div>